@media (min-width: 1024px){
    header.header_phone{display: none;}
    header.header_PC{display: flex;}
    div.happy_new_year.PC{display: flex;}
    div.happy_new_year.phone{display: none;}
}
@media (max-width: 1024px) {
    img.logo{height: 50%; margin: 15px 0px 0px 10%; cursor: pointer;}
    a.profile{margin: 8px 10% 8px 70%;}
    div.hidden_menu{
        position: fixed;
        background: var(--white);
        width: 100%;
        box-shadow: 0px 0px 10px var(--dark_blue);
        display: flex;
        padding: 30px;
    }
    ul.menu{flex-direction: column; width: auto; margin: 0px;}
    a.menu{font-size: 20px; margin: 0px;}
    div.hidden_background{
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        background: #030514c4;
    }
    img.crown{width: 60px;}
    h1.sign_in{font-size: 40px;}
}
@media ((max-width: 350px)){
    a.profile{margin: 10px 10% 10px 50%;}
    .day_week{font-size: 12px;}
    .text.time_work{font-size: 12px;}
}
@media ((max-width: 180px)){
    a.profile{margin: 10px 10% 10px 40%;}
}
@media ((max-width: 500px) and (min-width:350px)){
    a.profile{margin: 10px 10% 10px 60%;}
    form.control_panel{width: 100%; margin: 0px;}
    div.form_column{flex-wrap: wrap;}
    div.form_column.mobile{align-items: flex-start; flex-direction: column;}
    button.control_panel{width: 40%;}
}
@media ((min-width:500px) and (max-width: 800px)){
    a.profile{margin: 10px 10% 10px 65%;}
}
@media (max-width:800px){
    h1.title{font-size: 20px;}
    .day_week{font-size: 15px;}
    .text.time_work{font-size: 15px;}
    div.text, p.text{font-size: 15px;}
    div.profile_info{margin: 40px 0px; align-items: center;}
    div.profile{display: flex; flex-direction: column;}
    a.add_employer{width: 60%; margin: 50px 10%; justify-content: center;}
    div.content.future_shedule{margin: 75px 0px 350px 0px;}
}
